@model IEnumerable<DataBaseModel.Entity.User>

<div class="nav-item">
    <header>Пользователи</header>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                </tr>
            }
        </tbody>
        
    </table>
</div>

